/* ProfileVideo.module.css */
.iframeInitial {
  filter: blur(3px);
  transition: filter 0.5s;
}

.iframePlaying {
  filter: blur(0px);
}

.iframeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  z-index: 10;
}